<p id="notice"><%= notice %></p>



<div class="panel panel-default">
        <div class="panel-heading">
          	<p>
  			<strong>Title:</strong>
  			<%= @post.title %>
  			<br>
  			<%= link_to @post.user.username, user_posts_path(name: @post.user.username) %> posted <%= time_ago_in_words(@post.created_at) %> ago
			</p>
        </div>
        <div class="panel-body">
        	<p>
  			<strong>Author:</strong>
  			<%= @post.user.username %>
			</p>
          	<p>
  			<strong>Blog entry:</strong>
  			<%= @post.blog_entry.html_safe %>
			</p>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_post_path(@post) %> </button>
          <button type="button" class="btn btn-info"><%= link_to 'Back', posts_path %></button>
        </div>
      </div>


<% @post.comments.each do |comment| %>
	<div class="panel panel-default">
        <div class="panel-heading">
		<p><%= image_tag profile_pic(comment.user.avatar.url), size: 30 %> 
      <%= link_to comment.user.username, user_posts_path(name: comment.user.username) %> said 
      <%= time_ago_in_words(comment.created_at) %> ago</p>
		</div>
		<div class="panel-body">
		<p><%= comment.comment_entry.html_safe %></p>
		</div>
	</div>

<% end %>



<div id="comments">
	<%=render 'comments/form', comment: @comment %>
</div>


